# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.log

# Unit test / coverage reports
htmlcov/
.coverage

# Virtual Environment
venv/
*.venv
.env

# IDE directories
.idea/
.vscode/

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
*.log
*.sqlite

# Development environment files
.env.dev
.example.env

# Git
.git/